body{
    background-color:#21C4FF;
    text-align: center;
}
.vid-bg{
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:hidden;
    position:absolute;
}
.navbar{
    width:100%;
}
.navbar-nav{
    margin-left: auto;
}
.container-fluid{
    position:relative;
    padding:20% 35%;
    z-index: 1;
    color:white;
}
h1,h2,h3{
    font-family: 'Roboto Serif', serif;
    line-height: 2;
}
h1{
    font-family: 'Roboto Serif', serif; 
    text-align: center;
    font-weight: bold;
    line-height: 2;
    font-size: 4rem;
}
p{
    font-family:'Mukta',sans-serif;
    text-align: center;
    font-size: larger;
}
.rw{
    height: 37rem;
}
svg{
    width: 100%;
    height: 50%;
}
.row{
    line-height: 2;
    margin:0;
}
.navbar-brand{
    margin-left: 2rem;
}
.about,.Qualifications,.experience,.Reference{
    line-height: 2;
    padding: 10rem;
    height: 20rem;
    padding-bottom: 20rem;
}
.me{
    float: left;
    height: 13rem;
    padding-right: 2rem;
}
#contact{
    text-align: left;
    line-height: 2;

}
a{
    color:blanchedalmond
}
